<a href="https://colab.research.google.com/github/Madhu2303a51846/Python-for-DS-LAB-/blob/main/lab4(pds).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

# Step 1: Read the CSV file
try:
    df = pd.read_excel("student_scores.csv.xlsx")
except Exception as e:
    print(f"Could not read as Excel: {e}")
    try:
        df = pd.read_csv("student_scores.csv.xlsx", encoding='latin1')
    except Exception as e:
        print(f"Could not read with latin1 encoding: {e}")
        try:
            df = pd.read_csv("student_scores.csv.xlsx", encoding='ISO-8859-1')
        except Exception as e:
            print(f"Could not read with ISO-8859-1 encoding: {e}")
            # Fallback to default read_csv which might raise the original error
            df = pd.read_csv("student_scores.csv.xlsx")


print("Original Data:")
print(df)

# Step 2: Fill missing marks with column-wise average
df.fillna(df.mean(numeric_only=True), inplace=True)

print("\nData after filling missing values:")
print(df)

# Step 3: Filter students with >75 in all subjects
high_achievers = df[(df["Maths"] > 75) & (df["Science"] > 75) & (df["English"] > 75)]

print("\nHigh Achievers (scored >75 in all subjects):")
print(high_achievers)

Original Data:
   id     Name  Science  English  Maths
0   1  Bronnie     21.0     81.0   49.0
1   2   Lemmie     29.0     41.0    NaN
2   3    Danya     12.0      NaN   96.0
3   4    Denna      NaN      6.0   33.0
4   5  Jocelin     43.0     87.0   21.0

Data after filling missing values:
   id     Name  Science  English  Maths
0   1  Bronnie    21.00    81.00  49.00
1   2   Lemmie    29.00    41.00  49.75
2   3    Danya    12.00    53.75  96.00
3   4    Denna    26.25     6.00  33.00
4   5  Jocelin    43.00    87.00  21.00

High Achievers (scored >75 in all subjects):
Empty DataFrame
Columns: [id, Name, Science, English, Maths]
Index: []

In [10]:
import pandas as pd

# Step 1: Load dataset
df = pd.read_csv("hospital_patients_updated.csv")

print("Original Data:")
print(df.head())

# Step 2: Replace missing Age values with median
df["Age"].fillna(df["Age"].median(), inplace=True)

print("\nData after filling missing ages:")
print(df.head())

# Step 3: Filter elderly female patients (>50 years) with Diabetes
filtered = df[
    (df["Gender"].str.lower() == "female") &
    (df["Age"] > 50) &
    (df["Diagnosis"].str.lower() == "diabetes")
]

print("\nFiltered Records (Elderly Female with Diabetes):")
print(filtered)

Original Data:
   PatientID         Name   Age  Gender     Diagnosis AdmissionDate
0          1     John Doe  34.0    Male           Flu    15-03-2024
1          2  Alice Smith  45.0  Female      Diabetes    03-08-2025
2          3  Bob Johnson  50.0    Male  Hypertension    05-08-2025
3          4  Clara James  29.0  Female           NaN    07-08-2025
4          5    David Lee  63.0    Male        Asthma    09-08-2025

Data after filling missing ages:
   PatientID         Name   Age  Gender     Diagnosis AdmissionDate
0          1     John Doe  34.0    Male           Flu    15-03-2024
1          2  Alice Smith  45.0  Female      Diabetes    03-08-2025
2          3  Bob Johnson  50.0    Male  Hypertension    05-08-2025
3          4  Clara James  29.0  Female           NaN    07-08-2025
4          5    David Lee  63.0    Male        Asthma    09-08-2025

Filtered Records (Elderly Female with Diabetes):
    PatientID           Name   Age  Gender Diagnosis AdmissionDate
10         11    Laura Green  65.0  Female  Diabetes    18-08-2025
11         12  Martha Wilson  72.0  Female  Diabetes    19-08-2025

/tmp/ipython-input-3058058525.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].median(), inplace=True)