<a href="https://colab.research.google.com/github/Madhu2303a51846/Python-for-DS-LAB-/blob/main/Lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

data_products = {
    'product_id': [1, 2, 3, 6],
    'product_name': ['Laptop', 'Phone', 'Tablet', 'Charger'],
    'category': ['Electronics', 'Electronics', 'Electronics', 'Accessories'],
    'price': [1000, 500, 300, 50]
}

data_sales = {
    'sale_id': [101, 102, 103, 104, 105, 106],
    'product_id': [1, 2, 3, 4, 2, 5],
    'quantity_sold': [5, 10, 7, 15, 3, 8],
    'sale_date': ['2023-01-10', '2023-02-15', '2023-03-20', '2023-04-25', '2023-05-30', '2023-06-05']
}

df_products = pd.DataFrame(data_products)
df_sales = pd.DataFrame(data_sales)

merged_df_inner = pd.merge(df_sales, df_products, on='product_id', how='inner')
merged_df_outer = pd.merge(df_sales, df_products, on='product_id', how='outer')

merged_df_inner['revenue'] = merged_df_inner['quantity_sold'] * merged_df_inner['price']

product_stats = merged_df_inner.groupby('product_name').agg(
    total_revenue=('revenue', 'sum'),
    average_price=('price', 'mean'),
    total_sales=('quantity_sold', 'sum')
).reset_index()

category_stats = merged_df_inner.groupby('category').agg(
    total_revenue=('revenue', 'sum'),
    total_sales=('quantity_sold', 'sum')
).reset_index()

best_selling_category = category_stats.loc[category_stats['total_sales'].idxmax()]

print("Merged Data (Inner Join):")
print(merged_df_inner)
print("\nMerged Data (Outer Join):")
print(merged_df_outer)
print("\nProduct-wise Aggregate Statistics:")
print(product_stats)
print("\nCategory-wise Aggregate Statistics:")
print(category_stats)
print("\nBest-selling Category:")
print(best_selling_category)

Merged Data (Inner Join):
   sale_id  product_id  quantity_sold   sale_date product_name     category  \
0      101           1              5  2023-01-10       Laptop  Electronics
1      102           2             10  2023-02-15        Phone  Electronics
2      103           3              7  2023-03-20       Tablet  Electronics
3      105           2              3  2023-05-30        Phone  Electronics

   price  revenue
0   1000     5000
1    500     5000
2    300     2100
3    500     1500

Merged Data (Outer Join):
   sale_id  product_id  quantity_sold   sale_date product_name     category  \
0    101.0           1            5.0  2023-01-10       Laptop  Electronics
1    102.0           2           10.0  2023-02-15        Phone  Electronics
2    105.0           2            3.0  2023-05-30        Phone  Electronics
3    103.0           3            7.0  2023-03-20       Tablet  Electronics
4    104.0           4           15.0  2023-04-25          NaN          NaN
5    106.0           5            8.0  2023-06-05          NaN          NaN
6      NaN           6            NaN         NaN      Charger  Accessories

    price
0  1000.0
1   500.0
2   500.0
3   300.0
4     NaN
5     NaN
6    50.0

Product-wise Aggregate Statistics:
  product_name  total_revenue  average_price  total_sales
0       Laptop           5000         1000.0            5
1        Phone           6500          500.0           13
2       Tablet           2100          300.0            7

Category-wise Aggregate Statistics:
      category  total_revenue  total_sales
0  Electronics          13600           25

Best-selling Category:
category         Electronics
total_revenue          13600
total_sales               25
Name: 0, dtype: object

In [4]:
import pandas as pd

data_teachers = {
    'teacher_id': [1, 2, 3, 4],
    'teacher_name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'department': ['Math', 'Science', 'Math', 'English']
}

data_courses = {
    'course_id': [101, 102, 103, 104, 105, 106],
    'course_name': ['Algebra', 'Physics', 'Calculus', 'Literature', 'Biology', 'Geometry'],
    'teacher_id': [1, 2, 1, 4, 2, 5],
    'hours_per_week': [4, 3, 5, 2, 4, 3]
}

df_teachers = pd.DataFrame(data_teachers)
df_courses = pd.DataFrame(data_courses)

merged_inner = pd.merge(df_courses, df_teachers, on='teacher_id', how='inner')
merged_left = pd.merge(df_courses, df_teachers, on='teacher_id', how='left')

course_counts = merged_inner['teacher_id'].value_counts().mean()

workload_by_department = merged_inner.groupby('department').agg(
    total_hours=('hours_per_week', 'sum')
).reset_index()

print("Merged Data (Inner Join):")
print(merged_inner)

print("\nMerged Data (Left Join):")
print(merged_left)

print("\nAverage Courses per Teacher:")
print(course_counts)

print("\nDepartment-wise Total Workload:")
print(workload_by_department)

Merged Data (Inner Join):
   course_id course_name  teacher_id  hours_per_week teacher_name department
0        101     Algebra           1               4        Alice       Math
1        102     Physics           2               3          Bob    Science
2        103    Calculus           1               5        Alice       Math
3        104  Literature           4               2        Diana    English
4        105     Biology           2               4          Bob    Science

Merged Data (Left Join):
   course_id course_name  teacher_id  hours_per_week teacher_name department
0        101     Algebra           1               4        Alice       Math
1        102     Physics           2               3          Bob    Science
2        103    Calculus           1               5        Alice       Math
3        104  Literature           4               2        Diana    English
4        105     Biology           2               4          Bob    Science
5        106    Geometry           5               3          NaN        NaN

Average Courses per Teacher:
1.6666666666666667

Department-wise Total Workload:
  department  total_hours
0    English            2
1       Math            9
2    Science            7